@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

#login:hover, #signup:hover {
    opacity: 0.7;
}

.producto {
    font-family: "Playfair Display", serif;
    display: inline-block;
    margin-left:10%;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.producto p{
    font-size: 20px;
    color: #ccc;
}

.precios{
    font-family: "Roboto Mono", monospace;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
}

.comprar {
    background-color: #157759;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 90%;
    margin-bottom: 2%;
    font-family: "Sour Gummy", sans-serif;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./rescursos/footer.png');
    background-size: cover;
    padding: 20px;
    border-top: 3px solid #ccc;
}

footer a{
    color: black;
}

footer .texto_licencia{
    color: white;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.social a {
    margin: 0 10px;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.social a:hover {
    opacity: 0.7;
}
.social img{
    width: 40px;
    height: 40px;
}