* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', serif;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

#login:hover, #signup:hover {
    opacity: 0.7;
}

.producto{
    margin-left:40px;
    display: flex;
    gap: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#silla_vaquera2{
    width: 186;
    height: 136;
}

#silla_vaquera3{
    width: 238;
    height: 206;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex; /* Centra las imágenes dentro de cada slide */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.slide img {
    display: block;
    border-radius: 10px;
    max-width: 100%; /* Ajusta el ancho máximo al contenedor */
    height: auto; /* Mantén la proporción */
}


#slide_foto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    z-index: 10;
}

#slide_foto:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



.informacion{
    color: #848282;
}
.botones{
    margin-top:40px;
    margin-bottom: 23px;
}

.anyadir {
    background-color: #82DBB8;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.anyadir:hover{
    opacity: 0.5;
}

.comprar {
    background-color: #82DBB8;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.comprar:hover{
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./rescursos/footer.png');
    background-size: cover;
    padding: 20px;
    border-top: 3px solid #ccc;
}

footer a{
    color: black;
}

footer .texto_licencia{
    color: white;
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.social a {
    margin: 0 10px;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.social a:hover {
    opacity: 0.7;
}
.social img{
    width: 40px;
    height: 40px;
}